*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;


}

nav {
  height: 5vh;
  background: #6f8993;
}

nav svg {
height: 25px;
width: 25px;
}

nav a {
  height: 25px;
  width: auto;
  text-decoration: none;
  color: #2d2d2d;;
}


.logo{
  margin-left: 30px;
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.cart{
  position: relative;
  margin-right: 30px;
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.cart span{
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 5px;
  width: 15px;
  height: 15px;
  background-color: red;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}



.cart a {
  margin:10px;
}

.store{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  max-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;

}

.item{
  max-width: 100vw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #f2f2f2;
  padding: 20px;

}

.item h1{
  display: block;
  margin: 10px;
}

.itemName{
  text-decoration: none;
  color: #2d2d2d;
}

.itemName:hover{
color: #a8a8a8;
text-decoration: overline;

}

.atcButton{
  display: inline-block;
  background-color: #a8a8a8;
  padding: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.atcButton:hover{
color: #d2d2d2

}

.item h2{
  margin-bottom: 10px;
}

.item img{
  height: 50%;
  width: 50%;
  object-fit: contain;
}

.whole{
  position: relative;
  height: auto;
  min-height: 100vh;
  padding-bottom: 70px;
}

.pages{
  position: absolute;
display: inline-block;
background: green;
height: 50px;
margin: 10px;
padding: 10px;
bottom: 0px;
 }
.pagesrest{
text-align: center;
width: 20px;
font-size: 2rem;
text-decoration: underline;
color: white;
font-family: "Noto Mono"

}

.clickedpage{
  text-align: center;
  width: 20px;
  font-size: 2rem;
  text-decoration: underline;
  color: black;
  font-family: "Noto Mono"
  }


.additem form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additem input{
margin: 10px;
width: 400px;
}

.additem textarea{
  width: 400px;
}

.panel{
  position:absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
}

.removeitem form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.removeitem h3,{
  margin:30px;
}

.removeitem input{
  margin-bottom: 10px;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
  float: right;
  margin: 10px;
    }

.toggle-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #475569;
  border-radius: 40px;
  cursor: pointer;
    }

.toggle-thumb:before {
 content: "";
 height: 26px;
 width: 26px;
 position: absolute;
 left: 4px;
 bottom: 4px;
 border-radius: 50%;
 background-color: lightgreen;
 transition: .4s all ease;
   }

 .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .checkbox:checked + .toggle-thumb:before {
        transform: translateX(26px);
        background-color: salm;
      }
  label p{
    position: relative;
    margin: 20px;
    right: 40px;
    }

  .cartitems{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    width: auto;
    height: auto;
  }


.cartitems table{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 3px;

     }

     .cartitems td{
         border: 2px solid black;
         border-collapse: collapse;
         padding: 10px;
         width: auto;
         text-align: center;
          }

  .cartitems th{
      border: 2px solid black;
      border-collapse: collapse;
      padding: 3px;
      text-align: left;
       }


     .cartitems td img{
       display: block;
       height:50px;
       width: 50px;

     }

    .itemDescription{
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 80vh;
      width: 90vw;
      left:50%;
      margin-top: 50px;
      transform: translateX(-50%);
      border: 4px solid black;
    }

    .itempic{
      display: flex;
      height: 100%;
      width: 50%;
      background: #6f8993;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: 4px solid black;
    }

    .itempic img{
      height: 70%;
      width:60%;
      object-fit: contain;
    }

    .iteminfo{
      height: 100%;
      width: 50%;
      background: #f2f2f2;
      padding-left: 100px;
      padding-right: 100px;
    }

    .centerDescription{
      position: relative;
      top: 50%;
      width: 100%;
      transform: translateY(-100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .centerDescription h1{
      margin-bottom: 50px;

    }
    .centerDescription p{
      text-align: center;

    }


    .iteminfo h1{
      margin-top: 20px;
      text-align: center;
    }

    .iteminfo h2{
      position: absolute;
      bottom: 30px;
    }

    .itemAddToCart{
      margin-right: 10px;
    }

    .quantityCount{
      width: 50px;
    }

    .centerDescription form{
      margin-top: 50px;
    }





     @media only screen and (max-width: 1024px) {
    .store{
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 700px) {
   .store{
     grid-template-columns: 1fr 1fr;
   }

   @media only screen and (max-width: 500px) {
  .store{
    grid-template-columns: 1fr;
  }
